#photo-image {
    float: left;
    margin:0 10px 0 0;
    display:block;
    width: 90px;
    border:0px solid #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#intro {
    min-height:100px;
}
p {
    margin: 0 0 0 4px;
}
h1 {
    font-size: medium;
    margin-bottom: 4px;
}